.map {
  position: absolute;
  min-width: 1120px;
  height: 620px;
  top: 16px;
}
.map > svg {
  transform: scaleX(1.5) scaleY(1.3);
  position: absolute;
  top: 68px;
  left: 260px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1600px) {
  .map {
    position: absolute;
    align-items: flex-start;
    display: flex;
    width: 1540px;
    height: 720px;
  }
  .map > svg {
    position: absolute;
    margin: 8vw 0 0 22vw;
    transform: scaleX(1.9) scaleY(1.7);
  }
}
.area {
  fill: #ddd;
  stroke-width: 1px;
  cursor: pointer;
}
.country-name {
  cursor: pointer;
  font-size: 8px;
  text-shadow: 0 0 2px #666;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.circle {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
  r: 10px;
}
.unit {
  cursor: pointer;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 0;
  text-align: center;
}
.oceania {
  stroke: red;
}
.asia {
  stroke: green;
}
.south-america {
  stroke: orange;
}
.north-america {
  stroke: blue;
}
.europe {
  stroke: purple;
}
.africa {
  stroke: brown;
}
