.map {
  position: absolute;
  min-width: 1120px;
  height: 620px;
  top: 16px;
}
.map > svg {
  transform: scaleX(1.5) scaleY(1.3);
  position: absolute;
  top: 68px;
  left: 260px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1600px) {
  .map {
    position: absolute;
    align-items: flex-start;
    display: flex;
    width: 1540px;
    height: 720px;
  }
  .map > svg {
    position: absolute;
    margin: 8vw 0 0 22vw;
    transform: scaleX(1.9) scaleY(1.7);
  }
}
.area {
  fill: rgba(221, 221, 221, 0.7);
  stroke-width: 1.2px;
  cursor: pointer;
  opacity: 0.2;
}
.territory-name {
  font-size: 8px;
  font-family: sans-serif;
  pointer-events: none;
  font-weight: 100;
  letter-spacing: 1px;
}
.circle {
  pointer-events: none;
  fill: rgba(0, 0, 0, 0.2);
  r: 10px;
}
.unit {
  pointer-events: none;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 0;
  text-align: center;
}
.oceania {
  stroke: rgb(255, 123, 0);
}
.asia {
  stroke: rgb(40, 104, 40);
}
.south-america {
  stroke: rgb(177, 49, 202);
}
.north-america {
  stroke: rgb(8, 161, 103);
}
.europe {
  stroke: #374ee6;
}
.africa {
  stroke: brown;
}
.highlight {
  opacity: 1;
}
