* {
  margin: 0;
  padding: 0;
}
body {
  background-color: powderblue;
  max-width: 100vw;
  max-height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.logo-player-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  top: 0.2vw;
  left: 0.3vw;
  max-width: 320px;
  overflow: hidden;
}
.logo {
  background-image: url('../images/riskLogo.png');
  background-size: contain;
  height: 4vw;
  width: 5vw;
}
.player-name {
  border-left: 2px solid #000;
  font-size: 20px;
  font-weight: 500;
  color: #570909;
  position: relative;
  margin-top: 1vw;
  margin-left: 0.2vw;
  padding: 5px 0 0 4px;
  height: 26px;
}
.players {
  position: absolute;
  bottom: 30vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}
.player {
  font-size: calc(0.6vw + 0.5em);
  font-weight: 200;
  opacity: 0.8;
  background-color: rgb(200, 200, 200, 0.2);
  padding: 0.4vw;
  margin-left: 1.4vw;
  display: flex;
  justify-content: flex-start;
  border: 0.8px solid gray;
  color: #111;
}
.color-box {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 0.2vw;
  margin-top: -0.16vw;
  border: 0.5px solid #fff;
  background-color: red;
  position: absolute;
  right: 1vw;
}
#player1 {
  background-color: green;
}
#player2 {
  background-color: orange;
}
#player3 {
  background-color: purple;
}
#player4 {
  background-color: red;
}
#player5 {
  background-color: blue;
}
#player6 {
  background-color: gray;
}
.current-player {
  transform: scale(1.05);
  opacity: 1;
  font-weight: 400;
  background-color: rgba(80, 80, 80, 0.4);
  color: #000;
  letter-spacing: 1px;
}
.current-player::before {
  padding-right: 0.8vw;
  content: '> ';
  transform: scale(1.2);
  margin-left: -1.3vw;
  color: #111;
}
.right-top-menu {
  position: absolute;
  top: 4px;
  right: 4px;
}

#help {
  background-image: url('../images/help.png');
  height: 40px;
  width: 40px;
  background-size: contain;
  cursor: pointer;
}
#help:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cavalry {
  position: absolute;
  top: 32vw;
  left: 24vw;
  background-image: url('../images/horse2.png');
  background-size: contain;
  height: 10vw;
  width: 10vw;
}
#cavalry-count {
  position: absolute;
  top: 4.4vw;
  left: 3.2vw;
  font-weight: 600;
  font-size: calc(0.6vw + 0.5em);
  height: 1.6vw;
  width: 1.9vw;
  text-align: center;
  padding-top: 0.3vw;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: rotate(-20deg);
}
.reinforcement-container {
  position: absolute;
  bottom: 22vh;
  left: 1.5vw;
  height: 2.5vw;
  width: 10.5vw;
  display: flex;
  justify-self: flex-start;
  background-color: rgb(200, 200, 200, 0.2);
  border: 1px solid gray;
}
.reinforcement-name {
  padding-top: 0.1vw;
  font-weight: 400;
  font-size: calc(0.5vw + 0.5em);
}
.details-icon {
  border-left: 0;
  background-image: url('../images/sortDown.png');
  width: 2vw;
  height: 2vw;
  margin: auto 0.2vw;
  background-size: contain;
  cursor: pointer;
}
#checkbox {
  display: none;
}
#checkbox:checked + label + .reinforce-table {
  height: 19vh;
}
#checkbox:checked + label {
  background-image: url('../images/sortUp.png');
}
.reinforce-table {
  position: absolute;
  top: 2.55vw;
  width: 10.6vw;
  margin-left: -0.05vw;
  height: 0vw;
  overflow: hidden;
  transition: 400ms;
}
.continent-detail {
  z-index: 2;
  position: relative;
  background-color: #a3d4d5;
  padding: 0.2vw 0.3vw;
  font-size: calc(0.5vw + 0.4em);
  border: 1px solid gray;
  border-top: 0;
  display: flex;
  justify-content: space-between;
}
.continent-detail > span {
  font-weight: 200;
}
.soldier-details {
  background-color: rgb(200, 200, 200, 0.2);
  border: 1px solid gray;
  position: absolute;
  left: 1.5vw;
  bottom: 14vh;
  width: 10.5vw;
  height: 2.5vw;
  display: flex;
  justify-content: space-evenly;
}
.soldier-icon {
  height: 2vw;
  width: 2vw;
  background-image: url('../images/soldier.png');
  background-size: contain;
  margin: 0.2vw;
}
.soldier-count {
  padding: 0.5vw;
  padding-left: 2vw;
  border-left: 1px solid gray;
  font-size: calc(0.8vw + 0.5em);
}
.cards-details {
  background-color: rgb(200, 200, 200, 0.2);
  border: 1px solid gray;
  position: absolute;
  left: 1.5vw;
  height: 2.5vw;
  bottom: 6vh;
  width: 10.5vw;
  display: flex;
  justify-content: space-between;
  padding-top: 0.15vw;
}
.cards-symbol {
  height: 2.4vw;
  width: 2.5vw;
  background-image: url('../images/cards.png');
  background-size: contain;
  margin-left: 1vw;
}
.cards-count {
  font-size: calc(0.8vw + 0.5em);
  margin: auto 0;
}
.card-icon {
  width: 1.6vw;
  height: 1.6vw;
  margin: auto 0;
  background-image: url('../images/sortRight.png');
  background-size: contain;
  cursor: pointer;
}
#card-checkbox {
  display: none;
}
#card-checkbox:checked + label {
  background-image: url('../images/sortLeft.png');
}
#card-checkbox:checked + label + .cards-slider {
  width: 14.5vw;
  transform: border 400ms;
}
.cards-slider {
  position: absolute;
  left: 10.5vw;
  top: -0.05vw;
  height: 2.75vw;
  width: 0vw;
  overflow: hidden;
  display: flex;
  justify-self: flex-start;
  background-color: rgb(200, 200, 200, 0.2);
  transition: width 400ms;
}
.soldier-card {
  display: flex;
  justify-content: flex-start;
  border: 1px solid gray;
  border-left: 0;
}
.soldier-card-icon {
  background-size: contain;
  height: 2vw;
  width: 1.6vw;
  margin: auto 0.5vw;
}
.soldier-card-count {
  margin: auto 0;
  margin-right: 0.3vw;
  font-size: calc(0.5vw + 0.5em);
}
.activity-log-container {
  position: absolute;
  top: 10px;
  right: 60px;
  border: 1px solid gray;
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.activity-title {
  font-size: 24px;
  text-align: center;
  display: block;
  padding: 2px;
  border-bottom: 1px solid gray;
  background-color: rgb(0, 0, 0, 0.2);
}
.activity-body {
  display: flex;
  flex-direction: column;
  height: 20vw;
}
.activity-details {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 4px;
  background-color: rgb(128, 128, 128, 0.2);
  margin: 2px;
}
.activity-message {
  text-align: justify;
}
.time-stamp {
  font-size: 12px;
  font-weight: 100;
  padding: 0 12px;
  position: relative;
  text-align: right;
}
.attack-zone {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 20vw;
  width: 20vw;
  border: 1px solid gray;
}
